<div class="flex" [formGroup]="examForm">
  <div class="flex flex-col w-64 px-4 tex-gray-900 custom-navbar">
    <div class="mb-1 mt-2">
      <img src="../../../assets/images/main-black 2.svg" style="color: white;" alt="" width="200px">
    </div>
    <nav aria-label="Page navigation" class="p-7">
      <ul class="flex flex-wrap gap-3">
        <li
          *ngFor="let question of arr; let i = index"
          (click)="onPageClick(question)"
          [ngClass]="{
            'unanswered': !questions.controls[i].get('selectedAnswer')?.value,
            'correct': this.isReview && questions.controls[i].get('isCorrect')?.value === true,
            'incorrect': this.isReview && questions.controls[i].get('isCorrect')?.value === false
          }"
          class="hover: cursor-pointer"
        >
          <a [class]="pageIndex === question ? activePage : regularPage">
            {{ question }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div>
    <div class="flex flex-col justify-between h-screen main-test-area">
      <div>
        <div class="flex items-center m-6">
          <div class="border-2 border-primary-color p-2 rounded-md">
            <h2 class="text-xl text-primary-color font-bold p-1">
              {{ exam.examName }}
            </h2>
          </div>
          <div class="flex-grow border-b border-primary-color"></div>
          <div class="border-2 border-primary-color p-2 rounded-md">
            <h2 class="text-xl text-primary-color font-bold p-1">
              {{ formattedTime }}
            </h2>
          </div>
        </div>
      </div>
      <div formArrayName="questions">
        <div class="mb-10 px-24 flex justify-between content-center">
          <div class="flex gap-5 content-center">
            <span
              class="flex items-center justify-center px-4 h-10 w-12 border bg-white border-primary-color text-primary-color text-lg rounded-md"
              >{{ pageIndex }}</span
            >
            <span class="text-wrap"
              ><app-math-jax-paragraph
                [mathString]="replaceDollarPairsRecursively(questionText)"
              ></app-math-jax-paragraph
            ></span>
          </div>
          <p-button *ngIf="isReview" class="ml-1" label="Бодолт" [text]="true" severity="success" (click)="onAnswerClick()"/>
        </div>
        <div class="px-24">
          <ul *ngIf="!isFill" [formGroup]="arrFormGroup">
            <li
              *ngFor="let answer of answers; let i = index"
              class="flex justify-start custom-li w-full ml-12 py-2"
            >
              <div class="flex items-center ps-3">
                <input
                  [id]="'horizontal-list-radio-license-' + i"
                  type="radio"
                  [value]="answer"
                  formControlName="selectedAnswer"
                  name="selectedAnswer"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 dark:bg-gray-600 dark:border-gray-500 focus:outline-none focus:box-shadow-none"
                  (keydown)="preventArrowKeys($event)"
                />
                <label
                  [for]="'horizontal-list-radio-license-' + i"
                  class="w-full py-3 ms-2 text-lg"
                >
                  <app-math-jax-paragraph
                    [mathString]="replaceDollarPairsRecursively(answers[i])"
                  ></app-math-jax-paragraph>
                </label>
                <i *ngIf="isReview && getCheck(answer)" class="pi pi-check ml-1" style="color: green"></i>
              </div>
            </li>
          </ul>
          <div *ngIf="isFill" [formGroup]="arrFormGroup" class="flex flex-col gap-2">
            <input pInputText formControlName="selectedAnswer" type="text" />
            <div *ngIf="isReview" class="flex items-center gap-2">
              <label for="">Зөв хариу:</label>
              <input pInputText formControlName="correctAnswer" type="text" />
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="flex justify-between mx-6 mb-5">
          <a
            (click)="onPreviousClick()"
            class="hover: cursor-pointer flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-primary-color border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700"
          >
            Өмнөх
          </a>

          <a
            (click)="onNextClick()"
            class="hover: cursor-pointer flex items-center justify-center px-4 h-10 ms-3 text-base font-medium text-white bg-primary-color border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700"
          >
            {{this.exam ? this.pageIndex == this.exam.questions.length ? 'Дуусгах' : 'Дараах' : 'Дараах' }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<p-dialog header="Бодолт" [modal]="true" [(visible)]="isVisible" [style]="{ width: '30rem' }">
    <app-math-jax-paragraph [mathString]="answerString.toString()"></app-math-jax-paragraph>
</p-dialog>