.custom-navbar {
  background-color: #42A5F5;
  transition: transform 0.3s ease-in-out;
}

.main-test-area {
  background-color: #f9f9f9;
}

.btn-primary {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;  /* px-4 */
  padding-right: 1rem;
  height: 2.5rem;       /* h-10 */
  font-size: 1rem;      /* text-base */
  font-weight: 500;     /* font-medium */
  color: #ffffff;       /* text-white */
  background-color: #42A5F5; /* assuming this is your --primary-color */
  border: 1px solid #d1d5db; /* border-gray-300 */
  border-radius: 0.5rem; /* rounded-lg */
  transition: all 0.2s ease;
}

.btn-primary:hover {
  background-color: #f3f4f6;  /* hover:bg-gray-100 */
  color: #374151;             /* hover:text-gray-700 */
}

.no-more {
  background-color: #f3f4f6;
  color: #374151;
}

.custom-li {
  border: solid 1px #42A5F5;
  border-radius: 8px;
  margin-bottom: 6px;
}

.custom-background {
    flex: 1;
    padding: 1.5rem;
    
}

.page-back {
  background-color: #68b7f7;
}

.page-active {
  background-color: #3584c4;
}

.end-time {
  background-color: #42A5F5;

}