.custom-navbar {
  background-color: #7ed4ad;
  transition: transform 0.3s ease-in-out;
}

.main-test-area {
  background-color: #f9f9f9;
}

.btn-primary {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;  /* px-4 */
  padding-right: 1rem;
  height: 2.5rem;       /* h-10 */
  font-size: 1rem;      /* text-base */
  font-weight: 500;     /* font-medium */
  color: #ffffff;       /* text-white */
  background-color: #7ed4ad; /* assuming this is your --primary-color */
  border: 1px solid #d1d5db; /* border-gray-300 */
  border-radius: 0.5rem; /* rounded-lg */
  transition: all 0.2s ease;
}

.btn-primary:hover {
  background-color: #f3f4f6;  /* hover:bg-gray-100 */
  color: #374151;             /* hover:text-gray-700 */
}

.custom-li {
  border-color: #7ed4ad;
  border-bottom-width: 1px;
}

.custom-background {
    flex: 1;
    padding: 1.5rem;
    
}