<section class="flex">
    <div class="login-background">
        <img src="../../../assets/images/login-background.png" class="background-image" alt="">
        <img src="../../../assets/images/main-black 2.svg" class="main-logo">
    </div>
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 custom-background">
        <div class="w-full bg-white md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight md:text-2xl login-title text-center">
                    Нэвтрэх
                </h1>
                <form class="space-y-4 md:space-y-6" action="#">
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium login-text">И-майл</label>
                        <input [(ngModel)]="email" type="email" name="email" id="email" class="bg-gray-50 input-style text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5" placeholder="name@company.com" required="">
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium login-text">Нууц үг</label>
                        <input [(ngModel)]="password" type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 input-style text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5" required="">
                    </div>
                    <div class="flex items-center justify-between">
                        <div class="flex items-start">
                            <div class="flex items-center h-5 check-cont">
                              <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 login-border rounded bg-gray-50 focus:ring-3 focus:ring-sky-500" required="">
                            </div>
                            <div class="ml-2 text-sm">
                              <label for="remember" class="login-text">Сануулах</label>
                            </div>
                        </div>
                        <a href="#" class="text-sm font-medium login-text hover:underline">Нууц үг мартсан?</a>
                    </div>
                    <div (click)="onLogin()" class="w-full text-white login-button focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-lg px-5 py-2.5 text-center hover:cursor-pointer">Нэвтрэх</div>
                    <p class="text-sm font-light login-text">
                        Бүртгэл байхгүй юу? <span (click)="onRegister()" class="font-medium login-text underline hover:cursor-pointer">Бүртгүүлэх</span>
                    </p>
                </form>
            </div>
        </div>
    </div>
  </section>