<div class="exam-cont">
  <div class="exam-create-container">
    <p-scrollPanel [style]="{ width: '100%', height: '100%' }">
      <form [formGroup]="examForm">
        <div class="exam-create-header">
          <div class="exam-create-header-top">
            <h3>Сорилго нэмэх</h3>
          </div>
          <div class="exam-create-header-bottom grid grid-cols-3 gap-4">
            <div class="form-element">
              <label for="examName">Сорилгын дугаар:</label>
              <input id="examName" pInputText formControlName="examName" type="text" />
            </div>
            <div class="form-element">
              <label for="duration">Үргэлжлэх хугацаа (минутаар):</label>
              <p-inputNumber inputId="duration" formControlName="duration" />
            </div>
          </div>
        </div>

        <div *ngIf="questions.length" class="exam-create-questions" formArrayName="questions">
          <p-accordion (activeIndexChange)="activeIndexChange($event)" [activeIndex]="activeIndex">
            <p-accordionTab *ngFor="let question of questions.controls; let i = index" [formGroupName]="i"
              class="question-block">
              <ng-template pTemplate="header">
                <span class="flex align-items-center gap-2 w-full">
                  <span class="font-bold white-space-nowrap">
                    {{'Бодлого - ' + (i + 1)}}
                  </span>
                </span>
                <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger"
                  (click)="removeQuestion(i)" />
              </ng-template>
              <div class="form-element">
                <label>Бодлогын өгүүлбэр:</label>
                <input pInputText formControlName="questionText" type="text" />
              </div>
              <div class="form-element">
                <label>Зураг оруулах:</label>
                <div *ngIf="getQuestionImageUrl(activeIndex)" class="relative inline-block group cursor-pointer
                        w-[150px] h-[150px] overflow-hidden rounded-lg
                        border border-gray-300 shadow-sm" (click)="onDeleteImage(activeIndex)">
                  <img [src]="getQuestionImageUrl(activeIndex)" alt="Question Image" class="w-full h-full object-cover
                          transition duration-200
                          group-hover:opacity-70" />

                  <!-- Overlay -->
                  <div class="absolute inset-0 flex items-center justify-center
                          bg-black/40
                          opacity-0 group-hover:opacity-100
                          transition-opacity duration-200">
                    <span class="text-white text-sm font-semibold">
                      🗑 Delete
                    </span>
                  </div>
                </div>
                <p-fileUpload name="image" customUpload="true" [auto]="true"
                  (uploadHandler)="onImageUpload($event, activeIndex)" [maxFileSize]="2e6" accept="image/*"
                  chooseLabel="Зураг оруулах" cancelLabel="Cancel" uploadLabel="Upload">
                </p-fileUpload>
              </div>
              <div class="form-element">
                <label>Бодолт:</label>
                <textarea rows="10" cols="30" pInputTextarea formControlName="solution"></textarea>
              </div>
              <div class="form-element">
                <label>Бодлогын төрөл:</label>
                <p-dropdown formControlName="category" [options]="categories" placeholder="Төрөл сонгох" />
              </div>
              <div class="form-element">
                <label>Хариултын төрөл:</label>
                <p-dropdown formControlName="answerType" [options]="answerTypes" optionLabel="label" optionValue="value"
                  placeholder="Төрөл сонгох" (onChange)="onAnswerTypeChange($event, activeIndex)" />
              </div>
              <div class="form-element">
                <label>Бодлогын оноо:</label>
                <p-inputNumber formControlName="questionPoint" />
              </div>

              <div *ngIf="getAnswerType(activeIndex).value === 'test'" formArrayName="choices" class="choices">
                <div class="choice-head">
                  <label>Хариултууд:</label>
                  <p-button icon="pi pi-plus" [rounded]="true" [text]="true" (click)="addChoice(i)" />
                </div>
                <div *ngFor="let choice of getChoices(question).controls; let j = index" class="sub-choice">
                  <label>Хариулт {{ j + 1 }}:</label>
                  <input pInputText [formControlName]="j" type="text" />
                  <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger"
                    (click)="removeChoice(i, j)" />
                </div>
              </div>

              <div
                *ngIf="getChoices(question).valid && getAnswerType(activeIndex).value !== 'fill' && getChoices(question).length !== 0"
                class="form-element">
                <label>Зөв хариулт:</label>
                <p-dropdown formControlName="correctAnswer" [options]="getChoices(question).getRawValue()"
                  placeholder="Хариулт сонгох">
                  <ng-template let-item pTemplate="item">
                    <app-math-jax-paragraph [mathString]="item"></app-math-jax-paragraph>
                  </ng-template>
                  <ng-template let-item pTemplate="selectedItem">
                    <app-math-jax-paragraph [mathString]="item"></app-math-jax-paragraph>
                  </ng-template>
                </p-dropdown>
              </div>
              <div *ngIf="getAnswerType(activeIndex).value === 'fill'" class="form-element"
                formArrayName="fillTestAnswers">
                <label>Зөв хариулт:</label>
                <!-- <input pInputText formControlName="correctAnswer" type="text" /> -->
                <div class="choices">
                  <div class="choice-head">
                    <label>Хариултууд:</label>
                    <p-button icon="pi pi-plus" [rounded]="true" [text]="true" (click)="addFillTestAnswer(i)" />
                  </div>
                  <div *ngFor="let testAnswer of getFillTestAnswers(question).controls; let k = index"
                    [formGroupName]="k">
                    <input pInputText formControlName="label" type="text">: <input pInputText formControlName="answer"
                      type="text"> Оноо: <input pInputText formControlName="point" type="text">
                    <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger"
                      (click)="removeFillTestAnswer(i,k)" />
                  </div>
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>
        </div>

        <div class="exam-create-footer">
          <button type="button" (click)="addQuestion()">Бодлого нэмэх</button>
          <button (click)="submit()">Хадгалах</button>
        </div>
      </form>
    </p-scrollPanel>
  </div>





  <div class="res-cont" *ngIf="this.questions.length && activeIndex !== null">
    <div>
      <div class="mb-10 flex gap-5">
        <span
          class="flex items-center justify-center px-4 h-10 w-12 border bg-white border-primary-color text-primary-color text-lg rounded-md">{{
          activeIndex + 1 }}</span>
        <span class="text-wrap"><app-math-jax-paragraph
            [mathString]="getQuestionText(activeIndex).getRawValue()"></app-math-jax-paragraph></span>
        <p-button class="ml-1" label="Бодолт" [text]="true" severity="info" (click)="onAnswerClick()" />
      </div>
      <div class="">
        <ul>
          <li *ngFor="let answer of getChoices(getQuestion(activeIndex)).controls; let i = index"
            class="flex justify-start custom-li w-full ml-12 py-2">
            <div class="flex items-center ps-3">
              <input [id]="'horizontal-list-radio-license-' + i" type="radio" [value]="answer" name="selectedAnswer"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 dark:bg-gray-600 dark:border-gray-500 focus:outline-none focus:box-shadow-none" />
              <label [for]="'horizontal-list-radio-license-' + i" class="w-full py-3 ms-2 text-lg">
                <app-math-jax-paragraph [mathString]="answer.getRawValue()"></app-math-jax-paragraph>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="isLoading">
  <p-progressSpinner *ngIf="isLoading" styleClass="w-4rem h-4rem" strokeWidth="4" fill="var(--surface-ground)"
    animationDuration=".5s"></p-progressSpinner>
</div>

<p-dialog header="Бодолт" [modal]="true" [(visible)]="isVisible" [style]="{ width: '30rem' }"
  (onShow)="rerenderMathjax()">
  <app-math-jax-paragraph #solutionMath
    [mathString]="getQuestionSolution(activeIndex).getRawValue()"></app-math-jax-paragraph>
</p-dialog>