.nav-head {
  background-color: #42A5F5;
}
.log-out-btn {
  background-color: #3584c4;
  color: white;
}

.navbar {
  width: 260px;
  background-color: #42A5F5;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    position:fixed;
  }

  .sidebar-main-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }

  .sidebar-title {
    font-size: 18px;
    font-weight: bolder;
    color: white;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    @media (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      margin-bottom: 0.5rem;

      @media (max-width: 768px) {
        flex: 1 1 45%;
        margin: 0.5rem;
        text-align: center;
      }
    }
  }
}

.logout-button {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;

  @media (max-width: 768px) {
    padding-bottom: 0.5rem;
  }
}

.hover-section {
  background-color: #42A5F5;
}

.hover-section-hover:hover {
  background-color: #3b95dd
}

.selected {
  background-color: rgba(255, 255, 255, 0.25);
  font-weight: bold;
  color: black;
}